<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src='js/defiant.js'>

    </script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Your Timeline</h1>
        <button type="button" id='goToPrefrences' class="btn btn-info">Account Prefrences</button>
        <a href="/logout" class="btn btn-warning">Logout</a>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group col-centered">
      <form method="get" id='searchForm' action="/profile">
        <input type="text" name='search' class="form-control input-lg col-centered" id="myInput" placeholder="Search Here">
        <button type="submit" class="btn btn-warning btn-lg" id='searchFormButton'>Search</button>
      </form>
    </div>
  </div>
    </div>
</div>

<div class='container'>
    <div class="row">
      <ul class="twitter-timeline"></ul>
      <% if (merged.length != 0) { %>
        <% for(var i=0; i < merged.length; i++) { %>
          <% if (merged[i].api == 'instagram') { %>
            <div class="col-sm-6">
              <div class="well">
                <div class="head">
                  <h3 class="text-info col-sm-4"><span class="fa fa-instagram"></span> Instagram</h3>
                  <h3 class="time"><%= merged[i].timeFormat %></h3>
                </div>
                <img src="<%= merged[i].images.standard_resolution.url %>" width="100%" class="col-sm-12 instagram-image"></img>
                <p><%= merged[i].caption.text %></p>
              </div>
            </div>
          <% } %>
          <% if (merged[i].api == 'twitter') { %>
            <div class="col-sm-6">
              <div class="well">
                <div class="head">
                  <h3 class="text-info col-sm-4"><span class="fa fa-twitter"></span> Twitter</h3>
                  <h3 class="time"><%= merged[i].timeFormat %></h3>
                </div>
                <p><%= merged[i].text %></p>
              </div>
            </div>
          <% } %>
        <% } %>
      <% } else { %>
        <% if (twitterFeed) { %>
          <% for(var i=0; i < twitterFeed.length; i++) { %>
            <div class="col-sm-6">
              <div class="well">
                <div class="head">
                  <h3 class="text-info col-sm-4"><span class="fa fa-twitter"></span> Twitter</h3>
                  <h3 class="time"><%= twitterFeed[i].timeFormat %></h3>
                </div>
                <p><%= twitterFeed[i].text %></p>
              </div>
            </div>
          <% } %>
        <% } %>
        <% if (instaFeed) { %>
          <% for(var i=0; i < instaFeed.length; i++) { %>
            <div class="col-sm-6">
              <div class="well">
                <div class="col-sm-12 head">
                  <h3 class="text-info col-sm-4"><span class="fa fa-instagram"></span> Instagram</h3>
                  <h3 class="time"><%= instaFeed[i].timeFormat %></h3>
                </div>
                <img src="<%= instaFeed[i].images.standard_resolution.url %>" width="100%" class="col-sm-12 instagram-image"></img>
                <p><%= instaFeed[i].caption.text %></p>
              </div>
            </div>
          <% } %>
        <% } %>
      <% } %>
</div>
</div>

<div class="container">
<div class="row">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor" id='prefrences'></span> Account Prefrences and Information</h1>
    </div>
  </div>
</div>

<div class='container'>
  <div class="row">
    <div class="col-md-3">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
              <% if (user.facebook.token) { %>
                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                </p>
                 <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                 <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
            <% } %>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
           <% if (user.twitter.token) { %>
                <p>
                    <strong>id</strong>: <%= user.twitter.id %><br>
                    <strong>token</strong>: <%= user.twitter.token %><br>
                    <strong>username</strong>: <%= user.twitter.username %><br>
                    <strong>displayName</strong>: <%= user.twitter.displayName %>
                </p>
                <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
           <% } else { %>
               <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
           <% } %>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <h3 class="text-info"><span class="fa fa-instagram"></span> Instagram</h3>
            <% if (user.instagram.token) { %>
                <p>
                    <strong>id</strong>: <%= user.instagram.id %><br>
                    <strong>token</strong>: <%= user.instagram.token %><br>
                    <strong>username</strong>: <%= user.instagram.username %><br>
                    <strong>displayName</strong>: <%= user.instagram.displayName %>
                </p>
                <a href="/unlink/instagram" class="btn btn-danger">Unlink</a>
           <% } else { %>
               <a href="/connect/instagram" class="btn btn-danger">Connect Instagram</a>
           <% } %>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <h3 class="text-info"><span class="fa fa-google-plus-square"></span> Google</h3>
            <% if (user.google.token) { %>
                <p>
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    <strong>Email</strong>: <%= user.google.email %><br>
                    <strong>Name</strong>: <%= user.google.displayName %>
                </p>
                <a href="/unlink/google" class="btn btn-danger">Unlink</a>
           <% } else { %>
               <a href="/connect/google" class="btn btn-danger">Connect Google</a>
           <% } %>
        </div>
    </div>
</div>
</div>
  <script src="js/index.js"></script>
</body>
</html>
